// Container for all content in the site
.container {
	max-width: 1000px;
	margin: 0 auto;
}

// Image Helper
// ----------------------
.img-helper {
	width: 100%;
	margin: 0 auto;
}

// -----------------------
// Layout Helpers
// -----------------------


// Text Center Helper
// Put on inline-block parent to center Children
.center {
	text-align: center;
}


// PADDING HELPERS
// ---------------

// Padding All Sides
.pad-all-sm {
	padding: 2%;
}
.pad-all-md {
	padding: 4%;
}
.pad-all-lg {
	padding: 6%;
}
// Horizontal Padding
.pad-horizontal-sm {
	padding: 0 2%;
}
.pad-horizontal-md {
	padding: 0 4%;
}
.pad-horizontal-lg {
	padding: 0 6%;
}
// Vertical Padding
.pad-vertical-sm {
	padding: 2% 0;
}
.pad-vertical-md {
	padding: 4% 0;
}
.pad-vertical-lg {
	padding: 6% 0;
}
// Padding Top
.pad-top-sm {
	padding-top: 2%;
}
.pad-top-md {
	padding-top: 4%;
}
.pad-top-lg {
	padding-top: 6%;
}
// Padding Bottom
.pad-bottom-sm {
	padding-bottom: 2%;
}
.pad-bottom-md {
	padding-bottom: 4%;
}
.pad-bottom-lg {
	padding-bottom: 6%;
}


// MARGIN HELPERS
// --------------

// Margin All Sides
.marg-all-sm {
	margin: 2%;
}
.marg-all-md {
	margin: 4%;
}
.marg-all-lg {
	margin: 6%;
}
// Vertical Margin
.marg-vertical-sm {
	margin: 2% auto;
}
.marg-vertical-md {
	margin: 4% auto;
}
.marg-vertical-lg {
	margin: 6% auto;
}
// Horizontal Margin
.marg-horizontal-sm {
	margin: auto 2%;
}
.marg-horizontal-md {
	margin: auto 4%;
}
.marg-horizontal-lg {
	margin: auto 6%;
}
// Vertical Margin
.marg-vertical-sm {
	margin-top: 2%;
	margin-bottom: 2%;
}
.marg-vertical-md {
	margin-top: 4%;
	margin-bottom: 4%;
}
.marg-vertical-lg {
	margin-top: 6%;
	margin-bottom: 6%;
}
// Margin Top
.marg-top-sm {
	margin-top: 2%;
}
.marg-top-md {
	margin-top: 4%;
}
.marg-top-lg {
	margin-top: 6%;
}
// Margin Bottom
.marg-bottom-sm {
	margin-top: 2%;
}
.marg-bottom-md {
	margin-top: 4%;
}
.marg-bottom-lg {
	margin-top: 6%;
}












