@font-face {
  font-family: 'Exo', sans-serif;
  src: url('fonts/Exo-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */      
}

@font-face {
  font-family: 'Lobster', cursive;
  src: url('fonts/Lobster-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */      
}

